.margin{
  margin-left: 100px;
}


.header-list{
  display: flex;
  justify-content: space-between;
  width:80%;
  list-style: none;
}

.work-home{
  width: 100px;
  margin: 0;
}

nav{
  width: 100%;
}

.header{
  background-color: blue;

}

.list-style{
  text-decoration: none;
  color: #444;
}

.responsive-display{
  display: none;
}

span{
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .responsive-display{
    display: flex;
}
}
